body {
    text-align: center;
}

.main {
    text-align: justify;
    display: inline-block;
}

.a-btn {
    margin: 0 100%;
    margin-top: 25px;
    display: block;
}

input[type="radio"] {
    margin: 0 auto;
    display: block;
}

th {
    text-align: center;
}

.a-btn2 {
    margin: 0 100%;
    margin-top: 10px;
    display: block;
}

.main2 {
    text-align: justify;
    display: inline-block;
}